@page "/"


<PageTitle>Index</PageTitle>

<MudBlazor.MudCheckBox @bind-Checked=BoundToWindow Label="Bound to window"/>

<DestallMaterials.Blazor.Components.Universal.LoadedTable PortionSize="@_portionSize"
                                                          Source="async portion => Enumerable.Range(0, 1000).Skip((portion - 1) * _portionSize).Take(_portionSize).ToArray()"
                                                          TLineModel="int"
                                                          Context="line"
                                                          TableClass="table"
                                                          BoundToWindow=@BoundToWindow
                                                          OnLineRightClick="Clicked">
    <Head>
    <td>Number</td>
    <td>Remainder 2</td>
    <td>Remainder 3</td>
    <td>Remainder 4</td>
    </Head>
    <Line>
    <td>@line</td>
    <td>@(line % 2)</td>
    <td>@(line % 3)</td>
    <td>@(line % 4)</td>
    </Line>
</DestallMaterials.Blazor.Components.Universal.LoadedTable>


@code {
    const int _portionSize = 50;

    bool BoundToWindow = false;

    async Task Clicked(int line)
    {
        Console.WriteLine($"Clicked {line}...");
    }
}